# Database Config
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=stylesync_db
DATABASE_URL=postgresql+psycopg://your_postgres_user:your_postgres_password@postgres:5432/stylesync_db

# MinIO Config
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password
MINIO_URL=http://minio:9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key

# ML Service Config
ML_SERVICE_URL=http://ml_service:8001

# Backend Security
SECRET_KEY=your_jwt_secret_key_here

# Frontend Config
VITE_API_URL=http://localhost:8000
