# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# macOS
.DS_Store

# Docker
.env

# ML model cache
ml_service/models/

# Local DB files
*.db
*.sqlite3